<h2>Uso servicio works:</h2>

<button (click)="srvEj.activar(! srvEj.siActivado())" value="Act/desact">
    {{srvEj.siActivado() ? "Desactivar" : "Activar"}}</button>

<p *ngIf="srvEj.siActivado()">Activado</p>
<ng-template #desactivado> desactivado</ng-template>

<ul>
    <li *ngFor="let wf of srvEj.climaArray()">{{wf.summary}} {{wf.temperatureC}}</li>
</ul>