<!--Event binding: Con los paréntesis vinculamos un evento HTML con un método TS de clase-->
<input type="button" value="Aumentar" (click)="alPulsarBoton()"/>
<p>Pulsado {{contadorComp}} veces</p>
<!-- Double data-binding: Los dos anteriores en uno -->
<span>Cambia el valor: </span><input type="number" [(ngModel)]="contadorComp">
<h2>Directivas estructurales:</h2>
<!-- Empiezan por *ngNombreDirectiva
    La programacion estructurada llevada al html declarado-->

<ol>
    <li *ngFor="let comida of arrayDeTextos"><!-- Como un foreach-->
        He probado {{comida}}
    </li>
</ol>
<div *ngIf="contadorComp % 2 === 0">El contador es par</div>
<div *ngElse="contadorComp % 2 === 0">El contador es impar</div>
<!-- Crear componente directivas-struct y meter los dos ejemplos en él, y sustituir el tercer <trozo-web> por este nuevo componente-->