<h2>Propiedades input (vienen del comp. padre)</h2>
<p>Valores X y Y:  {{valorX}}, {{valorY}}, {{valorZ}}</p>
<p>Servicio: {{estadoServicio}}</p>
<input type="checkbox" value="¿Activado?" [checked]="estadoServicio === 'true'">