* {
    margin: 5px;
    /*Margen exterior*/
    padding: 0px;
    /*relleno o margen interior*/
    font-family: Arial, Helvetica, sans-serif;
}

#btn-cancelar {
    background-color: #d46060;
}

#btn-anadir {
    background-color: #34bb30;
}

#btn-borrar-todo {
    background-color: #f00;
}

#btn-modificar {
    background-color: #e68608;
}
#activo {
    text-align: center;
}

body {
    background-color: #ffffff;
    padding: 10px;
    margin: 15px;
}

fieldset {
    text-align: center;
}

header, section, footer {
    padding: 5px;
}

input {
    border: rgb(164, 167, 166) 2px solid;
    width: 32%;
    padding: 3px;
    margin: 5px;
}

.titulo-pagina {
    font-size: 2em;
}

.titulo-seccion {
    font-size: 1.6em;
}

.titulo-articulo {
    font-size: 1.6em;
}

.tabla {
    margin: 10px;
    border: rgb(169, 181, 207) 3px solid;
}

.tabla th {
    margin: 10px;
    width: 30%;
    border: rgb(181, 210, 243) 2px solid;
    padding-left: 10px;
    padding-right: 10px;
}

.tabla td {
    border: rgb(219, 223, 240) 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

}

.rounded-input {
    padding: 10px;
    border-radius: 10px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 10px;
}

.col-25 {
    float: left;
    width: 24%;
    margin-top: 10px;
}

.col-55 {
    float: left;
    width: 24%;
    margin-top: 16px;
}